<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>管理员导航</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/admin.css">
</head>
<body>
    <div id="wrapper">
        <h1>欢迎你，亲爱的管理员！</h1>
        <a href="{:U('insertIndexPictureNumHTML')}">上传首页图片</a>
        <a href="{:U('insertNewsHTML')}">发布新闻</a>
        <a href="{:U('insertPictureNumHTML')}">发布图说</a>
        <a href="{:U('changeMedalHTML')}">修改奖牌数</a>
        <a href="{:U('newsList')}">删除新闻</a>
        <a href="{:U('pictureList')}">删除图说</a>
        <a href="{:U('sportsList')}">体育项目列表</a>
        <a href="{:U('Index/logout')}">登出</a>
    </div>
</body>
</html>
