<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>新闻列表</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/admin.css">
</head>
<body>
    <div id="wrapper">
        <FOREACH name="newsList" item="news">
            <a href="" class="nls">{$news.title}</a> <a href="{:U('deleteNews').'&id='.$news['id']}" class="delete nosc">删除</a> <br />
        </FOREACH>
        <IF condition="$page gt 1">
            <a href="{:U('newsList').'&page='.($page-1)}" class="fix">上一页</a>
        </IF>
        <IF condition="$page lt $allPages">
            <a href="{:U('newsList').'&page='.($page+1)}" class="fix">下一页</a>
        </IF>
        <div id="button">
            <a href="{:U('adminNavigationHTML')}">返回首页</a>
        </div>
    </div>
</body>
</html>
