<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安交通大学第53届运动会</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/style1.css">
    <script type="text/javascript" src="__PUBLIC__/web/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/nav_fix.js"></script>
</head>
<body>
    <header>

    </header>
    <nav id="pos">
        <ul>
            <li><a href="{:U('Home/Index/index')}">首页</a></li>
            <li><a href="{:U('news')}">新闻</a></li>
            <li><a href="{:U('timetable')}">赛程</a></li>
            <li><a href="{:U('result')}">赛果</a></li>
            <li><a href="{:U('stars')}">人物</a></li>
            <li><a href="{:U('picture')}">图说</a></li>
            <li><a href="http://v.qq.com/vplus/0f783012f40414d7b87401b4530cff9a/foldervideos/nk10000018ejunk">视频</a></li>
            <li><a href="{:U('medal')}">奖牌榜</a></li>
            <li><a href="http://zq.xjtu.edu.cn/tyzx/">体育中心</a></li>
        </ul>
    </nav>
    <div class="content">
        <article>
            <h1>{$news.title}</h1>
            <h2>
                记者：<span>{$news.reporter}</span>
                编辑：<span>{$news.author}</span>
                点击：<span id="clic">{$news.click}</span>
            </h2>
            {$news.content}
            <PHP>
                $dateStr = date('Y年m月d日',$news['time']);
            </PHP>
            <span id="time">{$dateStr}</span>
        </article>
        <aside>
            <ul class="rec1">
                <li class="title">推荐阅读</li>
                <FOREACH name="recommendNewsList" item="news">
                    <li><a href="{:U('article').'&id='.$news['id']}">{$news.title}</a></li>
                </FOREACH>
            </ul>
            <ul class="rec2">
                <li class="title">成绩发布</li>
                <FOREACH name="recommendGradeList" item="sports">
                    <li><a href="{:U('grade').'&id='.$sports['id']}">{$sports.title}项目成绩</a></li>
                </FOREACH>
            </ul>
        </aside>
    </div>
    <footer>
        <p>© 2010-2015<a href="http://www.eeyes.net"> e瞳网 </a>eeYes .Net版权所有</p>
    </footer>
</body>
</html>
