<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安交通大学第53届运动会</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/style1.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/timetable.css">
    <script type="text/javascript" src="__PUBLIC__/web/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web/js/nav_fix.js"></script>
    <style type="text/css">
        #t_download {
            font-size: 14px;
            text-decoration: none;
            float: right;
            display: block;
            height: 30px;
            color: #037f81;
        }

        #t_download:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>

    </header>
    <nav id="pos">
        <ul>
            <li><a href="{:U('Home/Index/index')}">首页</a></li>
            <li><a href="{:U('news')}">新闻</a></li>
            <li><a href="{:U('timetable')}">赛程</a></li>
            <li><a href="{:U('result')}">赛果</a></li>
            <li><a href="{:U('stars')}">人物</a></li>
            <li><a href="{:U('picture')}">图说</a></li>
            <li><a href="http://v.qq.com/vplus/0f783012f40414d7b87401b4530cff9a/foldervideos/nk10000018ejunk">视频</a></li>
            <li><a href="{:U('medal')}">奖牌榜</a></li>
            <li><a href="http://zq.xjtu.edu.cn/tyzx/">体育中心</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="uk-width-1-1 uk-float-left left-column">
            <a href="__PUBLIC__/file/2015运动会详细日程表.doc" id="t_download">2015运动会详细日程表(点击下载)</a>
            <table class="uk-table time uk-table-striped">
                <tr class="fixed">
                    <td colspan="2" rowspan="2"></td>
                    <th class="uk-text-center bd1" colspan="3">4月24日</th>
                    <th class="uk-text-center bd1" colspan="4">4月25日</th>
                </tr>
                <tr class="fixed">
                    <td class="bd1">10:00-12:00</td>
                    <td class="bd1">14:00-16:00</td>
                    <td class="bd1">16:00-18:00</td>
                    <td class="bd1">8:00-10:00</td>
                    <td class="bd1">10:00-12:00</td>
                    <td class="bd1">14:00-16:00</td>
                    <td class="bd1">16:00-18:00</td>
                </tr>
                <tr class="bdt1">
                    <td rowspan="4">60米拍篮球跑</td>
                    <td class="add">校级领导</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子趣味</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><p>教工集体项目</p></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子趣味</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="10">100米</td>
                    <td class="add">研究生女子组</td>
                    <td class="pre"></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td class="pre"></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td class="pre"></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td class="pre"></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子甲组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子乙组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子丙组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子甲组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子乙组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子丙组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">200米</td>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">400米</td>
                    <td class="add">研究生女子组</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="7">800米</td>
                    <td class="add">教工女子甲组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add">教工女子乙组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add">教工女子丙组</td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="7">1500米</td>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子甲组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子乙组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子丙组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">3000米</td>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">5000米</td>
                    <td class="add">研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">100米栏</td>
                    <td class="add"><p>研究生女子组</p></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add">本科生女子组</td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">110米栏</td>
                    <td class="add">研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">400米栏</td>
                    <td class="add"><p>研究生女子组</p></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add"><p>研究生男子组</p></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add">本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6x60米抱篮球接力</td>
                    <td class="add">教工集体项目</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10x60米穿梭接力</td>
                    <td class="add">教工集体项目</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                </tr>
                <tr>
                    <td rowspan="6">4x100米接力</td>
                    <td class="add"><p>教工女子甲组</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add"><p>教工男子甲组</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="6">4x400米接力</td>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子甲组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子甲组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">20x100米穿梭接力</td>
                    <td class="add">研究生集体项目</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                </tr>
                <tr>
                    <td>本科生集体项目</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                </tr>
                <tr class="bdt1">
                    <td rowspan="4">跳远</td>
                    <td class="add">研究生女子组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">跳高</td>
                    <td class="add">本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>撑杆跳高</td>
                    <td class="add">本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">三级跳远</td>
                    <td class="add">研究生女子组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="10">铅球</td>
                    <td class="add">教工男子乙组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子甲组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子乙组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工女子丙组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子甲组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子丙组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生女子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">标枪</td>
                    <td class="add">研究生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">铁饼</td>
                    <td class="add">研究生女子组</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生女子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>本科生男子组</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>跳大绳</td>
                    <td class="add">教工女子趣味</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">个人跳小绳</td>
                    <td class="add">教工女子趣味</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子趣味</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>拔河比赛</td>
                    <td class="add">教工男子趣味</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>划船器比赛</td>
                    <td class="add">本科集体项目</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">个人踢毽子60秒计数</td>
                    <td class="add">教工女子趣味</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>教工男子趣味</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>20人跳小绳团体计分赛</td>
                    <td class="add">本科生集体项目</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">12人跳大绳团体计分赛</td>
                    <td class="add">本科生集体项目</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td class="final"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>研究生集体项目</td>
                    <td></td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>第八套广播体操比赛</td>
                    <td class="add">本科生集体项目</td>
                    <td class="pre"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>

        </div>
    </div>
    <footer>
        <p>© 2010-2015<a href="http://www.eeyes.net"> e瞳网 </a>eeYes .Net版权所有</p>
    </footer>
</body>
</html>
